<!-- history.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcription History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        {% if current_user.is_authenticated %}
            <p>
                <span>{{ current_user.username }}</span> -
                <span><a href="{{ url_for('auth.logout') }}">ログアウト</a></span>
            </p>
            <br>
            <a href="{{ url_for('mojiokoshi.index') }}">文字起こし</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">ログイン</a>
            <a href="{{ url_for('auth.signup') }}">サインアップ</a>
        {% endif %}
        <h1>Transcription History</h1>
        <table>
            <tr>
                <th>Audio File</th>
                <th>Transcription</th>
            </tr>
            {% for entry in transcriptions %}
            <tr>
                <td>{{ entry.audio_file }}</td>
                <td>{{ entry.transcription }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>