<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisper Transcription App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
{% if current_user.is_authenticated %}
    <p>
        <span>{{ current_user.username }}</span> -
        <span><a href="{{ url_for('auth.logout') }}">ログアウト</a></span>
    </p>
    <br>
    <a href="{{ url_for('mojiokoshi.index') }}">文字起こし</a>
{% else %}
    <a href="{{ url_for('auth.login') }}">ログイン</a>
    <a href="{{ url_for('auth.signup') }}">サインアップ</a>
{% endif %}
<h1 id="subtitle">Whisper Transcription App</h1>
<body>
    <a href="{{ url_for('mojiokoshi.history') }}">history</a>
    <div class="container">
        <div id="select_file">
            <h1 id="subtitle_1">動画または音声ファイルを指定してください</h1>
            <form action="{{ url_for('mojiokoshi.transcribe_audio') }}" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <input type="file" name="file" accept="audio/*">
                <button type="submit">実行</button>
            </form>
        </div>
        <div id="result">
        <!-- <h1>Whisper Transcription App</h1>
        <form action="{{ url_for('mojiokoshi.transcribe_audio') }}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <input type="file" name="file" accept="audio/*">
            <button type="submit">Transcribe</button>
        </form> -->
        {% if transcription %}
        <h2 id="subtitle_2">Transcription</h2>
        <p id="text">{{ transcription }}</p>
        <audio controls>
            <source src="{{ url_for('static', filename=audio_file) }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        {% endif %}
        </div>
    </div>
</body>
</html>
