<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <!-- titleを継承先で実装する -->
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet"
              href="{{url_for('crud.static', filename='style.css')}}"
        />
    </head>

    <body>
        {% if current_user.is_authenticated %}
        <p>
            <span>{{ current_user.username }}</span> -
            <span><a href="{{ url_for('auth.logout') }}">ログアウト</a></span>
        </p>
        <br>
            <a href="{{ url_for('mojiokoshi.index') }}">文字起こし</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">ログイン</a>
            <a href="{{ url_for('auth.signup') }}">サインアップ</a>
        {% endif %}
        <!-- contentを継承先で実装する -->
         {% block content %}{% endblock %}
    </body>
</html>